html {
  background-color: white
}

body {
  margin: 3em auto;
  padding: 0px 20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

h2 {
  position: relative;
  color: #010753;
  font-size: 30px;
}

p {
  color: #010753
}
#headline {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px inset black;
  color: #000000
}
.box {
  width: 60%;
  height: 200px;
  padding: 0.5em 1em;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  color: #010753;/*文字色*/
  background: white;
  border: solid 3px #010753;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.box p {
  margin: 0;
  padding: 5px;
}

.teko {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}