.box {
  padding: 0.5em 1em;
    margin: 2em 0;
    text-align:center;
    font-weight: bold;
    color: #000000;/*文字色*/
    background: #FFF;
    border: solid 3px color=#00c3f0, 111, 219, 0.067;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.box p {
  margin: 0;
  padding: 0;
}